<footer>
  <div id="main-container">
    <div id="first-part">
      <span> &#169; shashank chandel</span>
    </div>
    <div id="second-part">
      <ul>
        <li>
          <a href="/">
            Home
          </a>
        </li>
        <li>
          <a href="/users/profile">
            Profile
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
