<header>
  <div id="navbar-container">
    <div id="navbar-brand">
      Codeial
    </div>

    <div id="navbar-links">
      <ul>
        <% if(locals.user) { %>

        <li><a href="/users/profile"><%=user.name %></a></li>
        <li>
          <a href="/users/sign-out">Sign Out</a>
        </li>

        <% }else{ %>

        <li>
          <a href="/users/sign-in">SignIn</a>
        </li>

        <li>
          <a href="/users/sign-up">SignUp</a>
        </li>

        <% } %>
      </ul>
    </div>
  </div>
</header>
