<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
  </head>
  <body>

   <%- include('_header'); %> -->

<h1>Codeial /<%=title%></h1>
<!-- <%- include('_footer'); %>
  
  
    </body>
</html> -->

<section id="feed-posts">
  <h4>Posts</h4>
  <form action="" method="post" id="new-post-form">
    <textarea
      name="content"
      id=""
      cols="30"
      rows="3"
      placeholder="Type here..."
    ></textarea>
    <input type="submit" value="Post" />
  </form>
</section>
