#main-container {
  display: flex;
  background-color: #758aa2;
  justify-content: space-around;
  align-items: center; }
  #main-container #first-part {
    font-size: 20px; }
  #main-container #second-part ul {
    list-style: none; }
    #main-container #second-part ul li a {
      text-decoration: none;
      color: white; }
