body {
  margin: 0;
  height: 100vh;
  /* text-align: center; */
  background-color: skyblue;
  color: white; }
  body #layout-main {
    height: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: space-evenly; }
