#navbar-container {
  display: flex;
  border: 1px solid red;
  align-items: center;
  background-color: #0a79df;
  justify-content: space-between;

  #navbar-brand {
    padding-left: 30px;
    font-weight: 500;
    font-size: 30px;
  }

  #navbar-links {
    padding-right: 30px;
    ul {
      list-style: none;

      li {
        display: inline;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
